<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

		<title>글 조회 페이지</title>

		<link href="../../resource/semantic.min.css" rel="stylesheet" >
		<link href="../../resource/cleditor/jquery.cleditor.css" rel="stylesheet" />

		<style>
			* {
				padding:0;
				margin:0;
				box-sizing:border-box;
			}

			html {
				width:100%;
				height:100%;
			}

			body {
				width:100%;
				height:100%;
				color: #000;
				background-color: #fff;
			}

			.container {
				margin-right: auto;
				margin-left: auto;
				padding-left: 20px;
				padding-right: 20px;
			}

			span {
				color: #999;
			}

			#titleOutput {
				margin-bottom: 10px;
				line-height: 1.2em;
			}

			#contentsOutput {
				margin-top: 10px;
				margin-bottom: 10px;
				line-height: 1.8em;
			}

			#board_title {
				font-size:1.2em;
				font-weight:bold;
				color:teal;
			}
		</style>

		<script src="../../resource/jquery-3.1.1.min.js"></script>
		<script src="../../resource/semantic.min.js"></script>
		<script src="../../resource/cleditor/jquery.cleditor.min.js"></script>

		<script>
			$(document).ready(function() {
				var output = $("#contentsOutput").text();
				console.log('output : ' + output);

				$("#contentsOutput").html(output);
			});
		</script>

	</head>
	<body>
		<div class="container">
			<br>
			<div class="ui raised segment">
				<a class="ui blue ribbon label">게시판</a>
  			<span id="board_title"><%=title %></span>
				<div class="ui blue fluid card">
					 <div class="content">
						<%
						   var curTitle = posts._doc.title;
						   var curContents = posts._doc.contents;
						   var curWriter = posts._doc.writer.email;

						   // html-entities module is required in post.js
						   var entities = new Entities();

						   var decodedContents = entities.decode(curContents);
						%>

						<div id="titleOutput" class="header"><%=curTitle %></div>
	   					<div class="meta">
	     						<span class="right floated time">1일전</span>
	     						<span class="category">일반</span>
	   					</div>
	   					<div id="contentsOutput" class="description">
					       <%=decodedContents %>
					    </div>
					 </div>
	  				<div class="extra content">
	    				<div class="right floated author">
	      					<img class="ui avatar image" src="../../images/author.png"> <%=curWriter %>
	    				</div>
	  				</div>
				</div>

				<br><br><a class="ui button" href='/post/list?page=0&perPage=2'>글 목록</a>
			</div>
		</div>
	</body>
</html>
