<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="score1" class="exam.test03.Score">
		<property name="name"><value>홍길동</value></property>
		<property name="kor"><value>100</value></property>
		<property name="eng"><value>95</value></property>
		<property name="math"><value>90</value></property>
	</bean>
	
	<bean id="score2" class="exam.test03.Score">
		<property name="name" value="임꺽정"/>
		<property name="kor" value="85"/>
		<property name="eng" value="99"/>
		<property name="math" value="100"/>
	</bean>
	
	<bean id="score3" class="exam.test03.Score">
		<constructor-arg type="java.lang.String" value="장보고"/>
		<constructor-arg type="float" value="71"/>
		<constructor-arg type="float" value="72"/>
		<constructor-arg type="float" value="73"/>
	</bean>
	
	<bean id="score4" class="exam.test03.Score">
		<constructor-arg value="이순신"/>
		<constructor-arg value="100"/>
		<constructor-arg value="98"/>
		<constructor-arg value="99"/>
	</bean>
	
	<bean id="score5" class="exam.test03.Score">
		<constructor-arg value="100" index="3"/>
		<constructor-arg value="98" index="1"/>
		<constructor-arg value="이순신" index="0"/>
		<constructor-arg value="99" index="2"/>
	</bean>
</beans>