<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>사용자 리스트 페이지</title>
	</head>
	<body>
		<h2>사용자 리스트</h2>
		<div>
			<ul>
				<% for (var i = 0; i < result.length; i++) {
					 var curId = result[i]._doc.id;
					 var curName = result[i]._doc.name; %>
					 <li>#<%=i %> - 아이디 : <%=curId %>, 이름 : <%=curName %></li>
				<% } %>
			</ul>
		</div>
		<br><br><a href='/public/list.html'>다시 요청하기</a>
	</body>
</html>
