.Todo-wrapper {
  width: 600px;
  margin: 0 auto;
}

.Todo-header {
  text-align: center;
}

.Item-wrapper {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: left;
  background-color: #FEFEFE;
  border-radius: 10px;
}

.Item-card {
  border-radius: 5px; 
  margin-bottom: 20px;
  box-shadow: 0 22px 50px 4px rgba(0, 0, 0, 0.1);  
}

.Item-check-btn span {
  width: 25px !important;
  height: 25px !important;
  line-height: 25px !important;
  font-size: 16px;
  color: #234323 !important;
  margin-right: 5px;
}

.Item-checked span {
  text-decoration-line: line-through;
}

.Item-remove-btn {
  background-color: #BBBBBB;
  color: white;
  width: 35px !important;
  height: 35px !important;
  line-height: 36px;
  position: absolute;
  top: 18px;
  right: 24px;
}

.ant-checkbox-inner::after {
  top: 45% !important;
  left: 25% !important;
  width: 6px !important;
  height: 11px !important;
}