@import '~antd/dist/antd.css';

.App {
  width: 700px;
  padding: 20px 0;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
