<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>web05</display-name>
  
  <context-param>
	<param-name>driver</param-name>
	<param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
  	<param-name>url</param-name>
  	<param-value>jdbc:mysql://localhost/mydb?useUnicode=true&amp;characterEncoding=utf8</param-value>
  </context-param>
  <context-param>
  	<param-name>username</param-name>
  	<param-value>study</param-value>
  </context-param>	
  <context-param>
  	<param-name>password</param-name>
  	<param-value>1111</param-value>
  </context-param>
  
  <!-- 필터 선언 -->
  <filter>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<filter-class>filters.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  
  <!-- 필터 URL 매핑 -->
  <filter-mapping>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 서블릿 선언 -->
  <servlet>
  	<servlet-name>AppInitServlet</servlet-name>
  	<servlet-class>servlets.AppInitServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>