@import url('https://fonts.googleapis.com/css?family=Sunflower:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:300,500,700,900&display=swap');

body {

  background-color: #EE959E !important;
}
body * {
  margin: 0;
  font-family: 'Gothic A1', -apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
